<div style="margin-bottom: 0px; margin-top: -45px"></div>
Reports Page

<% if @questions.size > 0 %>


<div style="clear: both"></div>
<hr/>

<h3>Test : <%=@test.name%></h3>
<h4>Total Score : <%= @student_test.first.student_score %></h4>
<table id="reports">
<tr>
  <th>Id</th>
  <th>Question </th>
  <th>Score</th>
  <th>Correct Choice</th>
  <th>Your Choice</th>
  <th>Your Score</th>
</tr>


<% @questions.each_with_index do |question, question_number| %>

	<% if (@student_test_question.where(:question_id => question.id).first.student_score == 1) %>
		<tr>
		 <td><%= question.id%></td>
		 <td><%= question.content%></td>
		 <td><%= question.score%></td>
		 <td><%= question.correct_choice%></td>
		 <td><%= @student_test_question.where(:question_id => question.id).first.student_choice %></td>
		 <td><%= @student_test_question.where(:question_id => question.id).first.student_score %></td>
		</tr>
	<% else %>
		<tr class="alt">
		 <td><%= question.id%></td>
		 <td><%= question.content%></td>
		 <td><%= question.score%></td>
		 <td><%= question.correct_choice%></td>
		 <td><%= @student_test_question.where(:question_id => question.id).first.student_choice %></td>
		 <td><%= @student_test_question.where(:question_id => question.id).first.student_score %></td>
		</tr>
	<% end %>
	
<% end %>


</table>
<% end %>