<div style="margin-top: -45px">
<h4>Please enter the test details.</h4>
</div>
<%= form_for(@test, :url => { :controller => "admins", :action => "add_test" }) do |f| %>
 
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :level_id %>
    <%= f.select :level_id, options_for_select(@levels.collect { |level| [level.name, level.id] }, :level), :class => 'genForm_dropBox' %>
  </div>

  <div><%= f.label :start_date %>
  <%= f.text_field :start_date %></div>

  <div><%= f.label :end_date %>
  <%= f.text_field :end_date %></div>

  <div><%= f.label "Duration (in mins)" %>
  <%= f.text_field :duration %></div>
  
  <div class="field">
    <%= f.label :max_score %>
    <%= f.text_field :max_score %>
  </div>

  <div style="margin-top: 20px"><%= f.submit "Create Test", :class => 'btn btn-primary' %></div>
<% end %>
