<style type="text/css">
	.nc_table {
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		width: 100%;
		border-collapse: collapse;
	}
	.nc_table td, .nc_table th {
		font-size: 1em;
		border: 1px solid #2E2E2E;
		padding: 3px 7px 2px 7px;
		width: auto
	}
	.nc_table th {
		font-size: 1.1em;
		text-align: left;
		padding-top: 5px;
		padding-bottom: 4px;
		background-color: #777777;
		color: #000000;
	}

</style>
<% if @tests.size > 0 %>
<div style="margin-bottom: 0px; margin-top: -45px">
	<div style="float: left">
		<h4>Tests created:</h4>
	</div>	
</div>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="dataTable">
	<thead>
		<tr>
			<th>Test</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Score</th>
			<th>Level</th>
			<th>Questions</th>		
			<th></th>		
		</tr>
	</thead>
	<tbody>
		<% @tests.each do |test| %>
		<tr>
			<td><%= test.name %></td>
			<td><%= test.start_date %></td>
			<td><%= test.end_date %></td>
			<td><%= test.max_score %></td>
			<td><%= test.level_id %></td>
			<td><a href="/admins/show_question?test_id=<%= test.id%>">Add</a>&nbsp; | &nbsp; <a href="/admins/view_all_questions?test_id=<%= test.id%>">Preview</a></td>			
			<td><%= link_to 'Edit', '' %></td>		
		</tr>
		<% end %>
	</tbody>
</table>
<% else %>
<p>
	There are no tests to view. You may create one by clicking 'Create Test'.
</p>
<% end %>
