<% if @questions.size > 0 %>
<div style="margin-top: -45px">
<div style="float: left"><h4>Questions for <%=@test.name%></h4>
</div>
<div style="float: right"><%= paginate @questions %></div>
<div style="clear: both"></div>
</div>

<b><a href="/admins/show_question?test_id=<%=@test.id%>">Add more questions</a></b>
<br/>

<% @questions.each_with_index do |question, question_number| %>
<div class="question">
	<div class="question_content" style="font-weight: bold; float: left">
		<%= @questions.default_per_page * (@questions.current_page - 1) + question_number + 1%>.&nbsp; <%=question.content%>		
	</div>
	<div style="float: right">
		Score: <%=question.score%>
	</div>
	<div style="clear: both"></div>
	<div class="question_choice">
		<input type="radio" name="group1" value="1">&nbsp;<%=question.choice1%><br/>
		<input type="radio" name="group1" value="2">&nbsp;<%=question.choice2%><br/>
		<input type="radio" name="group1" value="3">&nbsp;<%=question.choice3%><br/>
		<input type="radio" name="group1" value="4">&nbsp;<%=question.choice4%><br/>		
		<div style="font-weight: bold; padding-left: 5px">
			Answer Choice: <%= question.correct_choice%>
		</div>		
	</div>
</div>
<hr />
<% end %>
<div style="float: right;"><%= paginate @questions %></div>
<div style="clear: both"></div>

<% else %>
<p>There are no questions for this test.</p>
<% end %>
