<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @test.name %>
</p>

<p>
  <b>Start date:</b>
  <%= @test.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @test.end_date %>
</p>

<p>
  <b>Max score:</b>
  <%= @test.max_score %>
</p>


<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
